/* YourComponent.css */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
 
  
  .section {
    flex: 1;
    background-color:rgba(30, 30, 30, 0.85); /* Gray background color */
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
  }

  /* Add more styling as needed */
  